.stone {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 150px;
  height: 150px;


  .img {
    width: 100px;
    border-radius: 20px;
  }
}
